{% extends "index.html" %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}

    <h1>Check these websites!</h1>

        <ul>
            <li><a href="https://jesx.dev/">jesx.dev</a></li>
            <li><a href="https://igormichalak.com/">igormichalak.com</a></li>
            <li><a href="https://bognov.tech/">bognov.tech</a></li>
            <li><a href="https://gregorygundersen.com/">gregorygundersen.com</a></li>
            <li><a href="https://benjaminschneider.ch/">benjaminschneider.ch</a></li>
            <li><a href="https://nikolicht.github.io/portfolio/">nikolicht.github.io</a></li>
        </ul>
{% endblock content %}
