{% extends "page.html" %}
{% block content %}
<main style="text-align: center;">
  <h1>404 - NOT FOUND</h1>
  {{ gif(sources=["tiny_internet.mp4"], width=100)}}

  <div
    style="width: 100%; max-width: 100%; margin: 0 auto; text-align: center;">
    <video autoplay loop muted playsinline
      style="max-width: 100%; height: auto; max-height: 360px; object-fit: contain; display: inline-block;">
      {% for source in sources -%}
      {% set type = source | split(pat=".") | last -%}
      <source src="tiny_internet.mp4" type="video/mp4">
      {% endfor -%}
      Your browser doesn't support the video tag, which I use in place of .gifs, and/or the video formats in use here
      – sorry!
    </video>
  </div>



  <p>Maybe try the <a href="{{ config.base_url | safe }}">homepage</a>?</p>
</main>
{% endblock content %}
